{% extends 'base.html.twig' %}

{% block title %}ProgrammLanguage{% endblock %}

{% block body %}
    <h1>ProgrammLanguage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ programm_language.id }}</td>
            </tr>
            <tr>
                <th>ФИО работника</th>
                <td>
                    {% for fio in programm_language.fio %}
                        {{ fio.FIO }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Язык</th>
                <td>{{ programm_language.language }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_programm_language_index') }}">back to list</a>

    <a href="{{ path('app_programm_language_edit', {'id': programm_language.id}) }}">edit</a>

    {{ include('programm_language/_delete_form.html.twig') }}
{% endblock %}
